{
    "DigitalBoard": true,
    "Circular": true,
    "EMap": true,
    "HelpDesk": true,
    "GrievanceHandling": true,
    "BusinessRegistration": true,
    "ExecutiveMeeting": true,
    "ListRegistration": true,
    "Roaster": true,
    "Grant": true,
    "JudicialCommittee": true,
    "TaskManagement": true,
    "Recommendation": true,
    "Plan": true,
    "Identity": true,
    "Revenue": true
}
