@media print {

    table, td, th {
        border: 1px solid #000000;
        border-collapse: collapse;
    }
    .table {
        width: 100%;
    }
    .mt-2{
        margin-top: 10px;
    }
    .fw-bold{
        font-weight: 600;
    }
    .row {
        display: flex;
        align-content: center;
    }
    .text-center {
        text-align: center;
    }
    .underline-dotted {
        border-bottom: dotted 2px !important;
        padding: 0 20px;
    }
    .custom-width {
        padding: 0 50px !important;
    }
    .font-black p {
        color: #000000;
    }
    .my-2{
        margin-top: .75rem !important;
        margin-bottom: .75rem !important;
    }
    .d-flex{
        display: flex;
    }
    .justify-content-between{
        justify-content: space-between;
    }
    .justify-content-end{
        justify-content: end;
    }
}

