#report-table label {
    font-weight: 600;
}
#report-table table {
    margin-bottom: 0 !important;
}
#report-table table tbody > tr > td:first-child {
    width: 2%;
    white-space: nowrap;
}
#report-table  span.fa {
    transition: all 400ms;
}
#report-table span.fa:hover {
    cursor: pointer !important;
    color: #333;
}
#report-table .tr-selected > td:not(:first-child) {
    background-color: #337ab7;
    color: #fff;
}
#report-table .tr-detail > td {
    padding: 0 !important;
    padding-bottom: 10px !important;
    border-top: none !important;
}
#report-table .tr-detail > td:not(:first-child) {
    padding: 5px 5px 5px 5px;
}
#report-table .detail-content ul,
#report-table .detail-content li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#report-table .detail-content ul li {
    border: 2px dashed #337ab7;
    border-width: 0 0 0px 1px;
    display: flex;
}
#report-table .detail-content ul li .detail {
    margin: 0;
    padding: 0 10px 5px 0;
    margin-bottom: 10px;
    flex-grow: 1;
    flex-basis: 100%;
}
#report-table .detail-content ul li .detail fieldset {
    border: 1px solid #77acd9;
}
.detail-content ul li .detail fieldset legend {
    font-size: 90%;
    margin-left: 5px;
    width: auto;
    margin-bottom: 0;
    border: none;
}
#report-table .detail-content ul li .detail fieldset > div {
    margin-left: 5px;
    margin-right: 12px;
}
#report-table .detail-content ul li .detail fieldset > div table.table-condensed tbody > tr > td {
    padding: 2px;
}
#report-table .detail-content ul li .detail:first-child {
    border-top: 1px dashed #337ab7;
    flex-basis: 2%;
    background: #fff;
    margin-top: 15px;
}
#report-table .detail-content ul li:first-child {
    padding-top: 5px;
}
#report-table .detail-content ul li:last-child {
    margin-bottom: 20px;
}
#report-table .detail-content ul li:last-child > .detail {
    margin-bottom: 0;
}
#report-table .detail-content ul li:last-child > .detail:first-child {
    margin-left: -1px;
}

#report-table .table > :not(caption) > * > * {
    padding:.2rem !important;
}
