.popup-modal{
    position: fixed;
    width: 500px;
    background-color: antiquewhite;
    z-index: 99999;
    margin-top: 60px;
    margin-left: 1%;
}
.trainer_img{
    object-fit: contain;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: double 3px var(--primary);
}
/*--------JudicialComittee---------------*/
.judicial_application{
    border: dashed 2px #1a202c;
}
.application_header .application_logo_1>img{
    object-fit: contain;
    height: 5.5rem;
    width: 5.5rem;
}
.application_policy>h5, h4{
    line-height: 2rem;
}
.mega-menu-content{
    width: 1020px;
}
.map_template_exclamation{
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes stretch {
    0%   {color: red;}
    100% {color: #ffba00;}
}
.border_yellow{
    border: 1px solid #DF3434;
    border-radius: 5px;
}
.border_black{
    border: 1px solid black;
    border-radius: 5px;
}
