.popup-modal{
    position: fixed;
    width: 500px;
    background-color: antiquewhite;
    z-index: 99999;
    margin-top: 60px;
    margin-left: 1%;
}
.trainer_img{
    object-fit: contain;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: double 3px var(--primary);
}
/*--------JudicialComittee---------------*/
.judicial_application{
    border: dashed 2px #1a202c;
}
.application_header .application_logo_1>img{
    object-fit: contain;
    height: 5.5rem;
    width: 5.5rem;
}
.application_policy>h5, h4{
    line-height: 2rem;
}
.mega-menu-content{
    width: 1020px;
}
