.popup-modal{
    position: fixed;
    width: 500px;
    background-color: antiquewhite;
    z-index: 99999;
    margin-top: 60px;
    margin-left: 1%;
}
.trainer_img{
    object-fit: contain;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: double 3px var(--primary);
}
