.card img{
    object-fit: contain;
    height: 4rem;
    width: 100%;
}
.card a:hover{
    background-color: var(--redColor);
    color: var(--whiteColor);
    transition: .9s;
    transform: translateY(-10px);
}
.grievance-answer p .btn{
    border: 1px solid  #0b0b0b;
    text-align: left !important;
}
