.chat ul {
    list-style: none;
}

.chat ul li img {
    object-fit: contain;
    height: 3rem;
    border-radius: 50%;
    border: double 3px var(--mainColor)
}

.chat .sender li p {
    padding: 10px;
    background-color: #0dcaf0;
    color: #1a202c;
    margin-left: 20px;
    border-radius: 20px;
}

.chat .sender li {
    width: 60%;
    float: left;
}

.chat .receiver li p {
    padding: 10px;
    background-color: #0dcaf0;
    color: #1a202c;
    margin-right: 20px;
    border-radius: 20px;
}

.chat .receiver li {
    padding: 20px;
    width: 60%;
    float: right;
}
