/*footer*/
.footer {
    background-color: var(--mainColor);
}

.footer-main {
    background-color: var(--mainColor);
}

.footer-content {
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: var(--mainColor);
}

.footer-title {
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 1.155rem;
}

.list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.text-white a {
    color: #fff;
    font-size: 13px;
}

.avatar-xl {
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.avatar img {
    border-radius: 50%;
}

.avatar-xl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img,
svg {
    vertical-align: middle;
}

.textbox-04 {
    text-align: center;
    color: #fff;
}

.textbox-04 a,
.textbox-04 span {
    font-size: .7rem;
    color: #ffff;
}

.footer-img img {
    object-fit: contain;
    height: 8rem;
}

.footer-copyright {
    color: var(--whiteColor);
    background-color: #0062CC;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

#round-btn .popup-banner {
    position: fixed;
    bottom: 1rem;
    right: 7px;
    border-left: none;
    border-top: 1px solid #1e4984;
    border-right: 1px solid #32598e;
    z-index: 100;
    background: #1e4984 no-repeat center;
    width: 13em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    height: 80px;
    border-radius: 10px 10px 0 0;
}

.popup-banner h3 {
    font-size: 15px;
    margin: 0px;
    padding: 10px 0px 9px 12px;
    color: #ffffff;
    width: 100%;
    display: block;
    text-align: left;
    font-weight: 800;
    border-radius: 10px 10px 0px 0px;
}

#round-btn .popup-banner .btnsection {
    height: 45px;
    position: relative;
    background: #f8f8f8;
    border: 1px solid #9a9c9e;
}

#round-btn .popup-banner .btnsection .btn {
    padding: 12px 0px 10px 5px;
    margin: 0;
    color: #717171;
    float: left;
    font-weight: 700;
    font-size: 11px;
}

#round-btn .round-btn-div {
    position: fixed;
    right: 0;
    bottom: 3.4rem;
    z-index: 100;
}

.round-btn-div img {
    object-fit: contain;
    height: 8rem;
    width: 80%;
    float: right;
}

.list li a {
    text-decoration: none;
}
.list li a:hover {
    text-decoration: none;
    color: var(--whiteColor);
}
/*-------------------modal right-----------*/
@media(min-width: 576px) {
    .modal-dialog {
        margin:0!important;
        padding-right: 5px;
        max-width: 700px !important;
    }
}
.modal-dialog {
    position: fixed;
    top: 8%;
    right: 3px;
    left: 48%;
    transition: 0.5s;
    border-radius: 1%;
    height: 92%;
}
.top-menu {
    background: linear-gradient(90deg, rgb(243 243 243) 0%, rgb(247 243 243) 35%, rgb(227 228 247) 100%);
}

.welcome { /* welcome text*/
    padding-bottom: 80px;
    color: var(--whiteColor);
    background: linear-gradient(90deg, rgba(56, 102, 161, 1) 0%, rgba(56, 102, 161, 1) 35%, rgb(80 168 232) 100%) !important;
}

.welcome-img img { /*support image*/
    object-fit: cover;
    height: 5rem;
    border-radius: 50%;
    border: double 5px var(--whiteColor);
}
.icon img { /*main tabs icon */
    object-fit: contain;
    height: 1.5rem;
}
.welcome-msg h6 {
    font-size: 1.155rem;
}

.welcome-msg p {
    text-align: justify;
    padding-right: 20px;
    font-size: .85rem;
}
.modal-header h5{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--mainColor);
}
.service-main {
    margin-top: -60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 9999999999;
    height: 26.55rem;
    background-color: var(--whiteColor);
}
.title-main h6{
    font-size: 1.1rem;
    color: var(--mainColor);
}
.main-branch{
    background-color: var(--whiteColor);
    height: 20rem;
    border-radius: 20px;
    overflow-y: auto;
}

.main-branch ul li{
    list-style: none;
}
.main-branch ul li:hover{
    transition: .5s;
    transform: translateY(-3px);
    background-color: var(--mainColor);
    color: var(--whiteColor);
}
.chat-message{
    display: none;
    position: fixed;
    z-index: 9999999999999;
    top: 8%;
    right: 3px;
    left: 48%;
    transition: 0.5s;
    border-radius: 1%;
    background-color: var(--whiteColor);
    width: 700px;
    height: 92%;
}
.service{
    height: 28rem;
    overflow-y: auto;
}
.service ul{
    margin-left: -15px;
    margin-right: 3px;
}
.service ul li{
    text-align: justify;
    font-size: .9rem;
}
.service ul li:hover{
    background-color: var(--mainColor);
    color: var(--whiteColor);
    transition: .5s;
    transform: translatey(-2px);
}
.chat{
    height: 29rem;
    overflow-y: auto;
}
.chat ul {
    list-style: none;
}
.chat ul li img {
    object-fit: contain;
    height: 2.5rem;
    border-radius: 50%;
    border: double 3px var(--mainColor)
}
.chat .sender li p {
    padding: 7px;
    color: var(--navLinkColor);
    margin-left: 10px;
    border-radius: 20px;
    font-size: .75rem;
    border: 1px solid var(--navLinkColor);
}

.chat .sender li {
    width: 80%;
    float: left;
}

.chat .receiver li p {
    padding: 7px;
    color: var(--navLinkColor);
    margin-right: 10px;
    border-radius: 20px;
    font-size: .75rem;
    border: 1px solid var(--navLinkColor);
    background-color: #DBDAE8;
}

.chat .receiver li {
    padding: 20px;
    width: 80%;
    float: right;
}
.message-write .send{
    margin-top: 5px;
    padding: 2px;
    color: var(--mainColor);
}
