/*topbar css*/
.top-bar {
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
}
select{
    font-size: 12px;
}
/*middle hedaer*/
.background {
    padding: 8px;
    background-color: #fff;
}
.logo {
    height: 80px;
    width: 100px;
}
.logo-nep {
    height: 90px;
    width: 70px;
}
.textbox-01>h6{
    font-size: 1rem;
}
.textbox-01>p{
    font-size: .9rem
}
.card-employee{
    border: 1px solid var(--mainColor);
    padding: 10px;
}
.chiefPerson .card-employee{
    width: 40%;
}
.thirdLevelEmployee .card-employee{
    width: 40%;
}
