/*topbar css*/
.top-bar {
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
}
select{
    font-size: 12px;
}
/*middle hedaer*/
.background {
    padding: 8px;
    background-color: #fff;
}
.logo {
    height: 80px;
    width: 100px;
}

.logo-nep {
    height: 90px;
    width: 70px;
}
.card-employee{
    width: 12rem;
    height: 7rem;
    /*border: 1px solid #2C3E50;*/
}
.textbox-01>h6{
    font-size: .7rem;
}
.textbox-01 {
    padding-left: 10%;
    padding-top: 20%;
}

