.navbar {
    background-color: var(--mainColor);
}
.navbar a{
    color: white;
}
.navbar a:hover{
    cursor: pointer;
    color: white;
}
.navbar .navbar-nav .nav-item a{
    color: var(--whiteColor);
    padding-bottom: 0;
    font-size: 1.08rem;
}

.navbar .navbar-nav .nav-item .active{
    color: var(--whiteColor);
    border-bottom: 3px solid var(--whiteColor);
}
