/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');

:root {
    --mainColor: #0047ab;
    --secondaryColor: #8AC5EF;
    --purpleColor: #c679e3;
    --navLinkColor: #4a6f8a;
    --paragraphColor: #6084a4;
    --redColor: #EE1D25;
    --whiteColor: #ffffff;
    --blackColor: #0e314c;
    --fontSize: 14px;
}

body {
    overflow-x: hidden;
    background-color: var(--whiteColor) !important;
    font-family: 'Mukta', sans-serif !important;
    font-size: var(--fontSize);
}

.carousel-item > img {
    object-fit: cover;
    height: 400px;
}

.card-01 {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 4px;
    background-color: var(--whiteColor);
    padding: .5rem;
    display: block;
}

.list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.list-01 li {
    display: flex;
    margin-top: 10px;
}

.list-01 li .avatar {
    margin-right: .75rem;
}

.avatar-lg {
    width: 5.5rem;
    height: 5.5rem;
    flex-shrink: 0;
}

.avatar img {
    border-radius: 50%;
}

.avatar-lg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textbox-01 h6 {
    color: #1a1a1a;
    font-weight: 600;
    font-size: .833rem;
    margin-bottom: .25rem;
}
.textbox-01 p {
    margin-bottom: .25rem;
}
.list-01 li:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
}
.heading-line::after,
.heading-line_red::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: .5rem;
    background-color: #33333329;
}

.icon-size-4 {
    width: 1rem !important;
    height: 1rem !important;
    min-width: 1rem !important;
    min-height: 1rem !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
}



.list-item {
    width: auto;
    background: #fffffe;
}
/*intro-section*/
.heading {
    font-weight: 700;
}

.text-withlink {
    color: #1a1a1a;
}

.intro-col {
    padding: 0;
    margin: 0;
}

.intro-title {
    display: inline-block;
    color: #2460b9;
    font-size: 14px;
}

.introduction h6 {
    color: var(--mainColor);
    font-size: 1.155rem;
}

.introduction p {
    text-align: justify;
    text-justify: inter-word;
}

/*main cheif person card*/
.card-02 .card:hover {
    transition: .7s;
    transform: translateY(-10px);
}

.card-02 .card:hover .card-description {
    transition: .5s;
    background-color: var(--mainColor);
    color: var(--whiteColor);
}

.card-description {
    padding-bottom: 10px;
    border-radius: 6px;
}

.card-description p {
    line-height: 1rem;
}
.card-description h6{
    font-size: 1.155rem;
}
/*gallery slider*/
.card img {
    object-fit: contain;
    height: 12rem;
    width: 100%;
}
.button .btn {
    background-color: var(--secondaryColor);
}

.button .btn:hover {
    background-color: var(--mainColor);
    transition: .7s;
    transform: translateY(-5px);
}
/*marquee css*/
.newsbar-container {
    display:flex;
    align-items:center;
    background-color: var(--mainColor)
}
.newsbar-title {
    color: var(--whiteColor);
    background-color:#ce1126;
    font-size:.833rem;
    font-weight:600;
    padding:.75rem 1rem .75rem .5rem;
    -webkit-clip-path:polygon(0 0,88% 0,100% 50%,88% 100%,0 100%);
    clip-path:polygon(0 0,88% 0,100% 50%,88% 100%,0 100%);
    margin-top:-1px
}
.marquee-list span.type {
    background-color:#fff;
    color:#ce1126;
    font-size:.75rem;
    text-transform:uppercase;
    display:inline-block;
    padding:.125rem .25rem;
    border-radius:2px;
    font-weight:600;
    vertical-align:middle
}
.marquee-list a {
    color:#fff!important
}
.marquee-list a:hover {
    color:#4d4d4d!important
}
.jctkr-wrapper {
    display:inline-block;
    position:relative;
    width:100%;
    height:18px;
    vertical-align:middle;
    overflow:hidden
}
.jctkr-wrapper ul {
    position:absolute;
    left:0;
    top:50%;
    transform:translate(0,-50%);
    height:100%;
    margin:0;
    padding:0;
    list-style:none;
    white-space:nowrap;
    font-size:0;
    opacity:0;
    -webkit-transition:opacity 20s;
    transition:opacity 20s
}
.jctkr-wrapper.jctkr-initialized ul {
    opacity:1;
}
.jctkr-wrapper ul li {
    display:inline-block;
    font-size:13.33px;
    position:relative;
    padding-left:1rem;
    margin-right:.75rem
}
.jctkr-wrapper ul li a {
    color:#666
}
.jctkr-wrapper ul li:before {
    content:'';
    width:2px;
    height:2px;
    background-color:#fff;
    border-radius:50%;
    display:inline-block;
    margin-right:.5rem;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%)
}
.jctkr-label {
    display:inline-block
}
.vertical-scroll {
    width: 100%;
    height: 45vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.move {
    top: 45vh;
    position: relative;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    margin: 0 auto;
    text-align: center;
    color: var(--mainColor);
}
.move img{
    width: 100%;
}

@keyframes marquee {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-150%);
    }
}
.footer-alt {
    left: 0 !important;
    text-align: center;
    color: var(--whiteColor);
}
.footer {
    bottom: 0;
    padding: 19px 15px 20px;
    right: 0;
    left: 240px;
}
video{
    width: 100%;
    height: 40vh;
}
.info-card{
    background-color: var(--mainColor);
    color: var(--whiteColor);
    text-align: center;
    padding: 1.5vh;
    margin-top: 5vh;
}
.info-card a{
    text-decoration: none;
    color: var(--whiteColor);
    font-size: 1.5rem;
}
