/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');

:root {
    --mainColor: #0047ab;
    --secondaryColor: #8AC5EF;
    --purpleColor: #c679e3;
    --navLinkColor: #4a6f8a;
    --paragraphColor: #6084a4;
    --redColor: #EE1D25;
    --whiteColor: #ffffff;
    --blackColor: #0e314c;
    --fontSize: 14px;
}

body {
    overflow-x: hidden;
    background-color: var(--whiteColor) !important;
    font-family: 'Mukta', sans-serif !important;
    font-size: var(--fontSize);
}

.carousel-item > img {
    object-fit: cover;
    height: 400px;
}

.card-01 {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 4px;
    background-color: var(--whiteColor);
    padding: .5rem;
    display: block;
}

.list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.list-01 li {
    display: flex;
    margin-top: 10px;
}

.list-01 li .avatar {
    margin-right: .75rem;
}

.avatar-lg {
    width: 5.5rem;
    height: 5.5rem;
    flex-shrink: 0;
}

.avatar img {
    border-radius: 50%;
}
.avatar-xl {
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
}
.avatar-xl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-lg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textbox-01 h6 {
    color: #1a1a1a;
    font-weight: 600;
    font-size: .833rem;
    margin-bottom: .25rem;
}
#round-btn .popup-banner {
    position: fixed;
    bottom: 1rem;
    right: 7px;
    border-left: none;
    border-top: 1px solid #1e4984;
    border-right: 1px solid #32598e;
    z-index: 100;
    background: #1e4984 no-repeat center;
    width: 13em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    height: 80px;
    border-radius: 10px 10px 0 0;
}

.popup-banner h3 {
    font-size: 15px;
    margin: 0px;
    padding: 10px 0px 9px 12px;
    color: #ffffff;
    width: 100%;
    display: block;
    text-align: left;
    font-weight: 800;
    border-radius: 10px 10px 0px 0px;
}

#round-btn .popup-banner .btnsection {
    height: 45px;
    position: relative;
    background: #f8f8f8;
    border: 1px solid #9a9c9e;
}

#round-btn .popup-banner .btnsection .btn {
    padding: 12px 0px 10px 5px;
    margin: 0;
    color: #717171;
    float: left;
    font-weight: 700;
    font-size: 11px;
}

#round-btn .round-btn-div {
    position: fixed;
    right: 0;
    bottom: 3.4rem;
    z-index: 100;
}

.round-btn-div img {
    object-fit: contain;
    height: 8rem;
    width: 80%;
    float: right;
}
.textbox-01 p {
    margin-bottom: .25rem;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.list-01 li:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
}
.heading-line::after,
.heading-line_red::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: .5rem;
    background-color: #33333329;
}

.icon-size-4 {
    width: 1rem !important;
    height: 1rem !important;
    min-width: 1rem !important;
    min-height: 1rem !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
}



.list-item {
    width: auto;
    background: #fffffe;
}
/*intro-section*/
.heading {
    font-weight: 700;
}

.text-withlink {
    color: #1a1a1a;
}

.intro-col {
    padding: 0;
    margin: 0;
}

.intro-title {
    display: inline-block;
    color: #2460b9;
    font-size: 14px;
}

.introduction h6 {
    color: var(--mainColor);
    font-size: 1.155rem;
}

.introduction p {
    text-align: justify;
    text-justify: inter-word;
}

/*main cheif person card*/
.card-02 .card:hover {
    transition: .7s;
    transform: translateY(-10px);
}

.card-02 .card:hover .card-description {
    transition: .5s;
    background-color: var(--mainColor);
    color: var(--whiteColor);
}

.card-description {
    padding-bottom: 10px;
    border-radius: 6px;
}

.card-description p {
    line-height: 1rem;
}
.card-description h6{
    font-size: 1.155rem;
}
/*gallery slider*/
.card img {
    object-fit: contain;
    height: 12rem;
    width: 100%;
}
.button .btn {
    background-color: var(--secondaryColor);
}

.button .btn:hover {
    background-color: var(--mainColor);
    transition: .7s;
    transform: translateY(-5px);
}
/*marquee css*/
.newsbar-container {
    display:flex;
    align-items:center;
    background-color: var(--mainColor)
}
.newsbar-title {
    color: var(--whiteColor);
    background-color:#ce1126;
    font-size:.833rem;
    font-weight:600;
    padding:.75rem 1rem .75rem .5rem;
    -webkit-clip-path:polygon(0 0,88% 0,100% 50%,88% 100%,0 100%);
    clip-path:polygon(0 0,88% 0,100% 50%,88% 100%,0 100%);
    margin-top:-1px
}
.marquee-list span.type {
    background-color:#fff;
    color:#ce1126;
    font-size:.75rem;
    text-transform:uppercase;
    display:inline-block;
    padding:.125rem .25rem;
    border-radius:2px;
    font-weight:600;
    vertical-align:middle
}
.marquee-list a {
    color:#fff!important
}
.marquee-list a:hover {
    color:#4d4d4d!important
}
.jctkr-wrapper {
    display:inline-block;
    position:relative;
    width:100%;
    height:18px;
    vertical-align:middle;
    overflow:hidden
}
.jctkr-wrapper ul {
    position:absolute;
    left:0;
    top:50%;
    transform:translate(0,-50%);
    height:100%;
    margin:0;
    padding:0;
    list-style:none;
    white-space:nowrap;
    font-size:0;
    opacity:0;
    -webkit-transition:opacity 20s;
    transition:opacity 20s;
    width: 85%;
}
.jctkr-wrapper.jctkr-initialized ul {
    opacity:1;
}
.jctkr-wrapper ul li {
    display:inline-block;
    font-size:13.33px;
    position:relative;
    padding-left:1rem;
    margin-right:.75rem
}
.jctkr-wrapper ul li a {
    color:#666
}
.jctkr-wrapper ul li:before {
    content:'';
    width:2px;
    height:2px;
    background-color:#fff;
    border-radius:50%;
    display:inline-block;
    margin-right:.5rem;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%)
}
.jctkr-label {
    display:inline-block
}
.vertical-scroll {
    width: 100%;
    height: 45vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.height{
    height: 45vh;
}
.move {
    top: 45vh;
    position: relative;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    margin: 0 auto;
    text-align: center;
    color: var(--mainColor);
}
.move img{
    width: 100%;
}

@keyframes marquee {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-150%);
    }
}
.footer-alt {
    left: 0 !important;
    text-align: center;
    color: var(--whiteColor);
}
.footer {
    bottom: 0;
    padding: 19px 15px 20px;
    right: 0;
    left: 240px;
    background-color: var(--mainColor);
}
.footer-content {
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: var(--mainColor);
}
.footer-main {
    background-color: var(--mainColor);
}
.footer-title {
     color: #fff;
     text-decoration: underline;
     text-underline-position: under;
     font-size: 1.155rem;
 }

video{
    width: 100%;
}
.info-card{
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
    padding: 1vh;
    margin-top: 5vh;
    border-radius: 10px;

}
.info-card:hover{
    border: 1px solid rgba(255, 0, 0, 0.4);
    background-color: transparent;
    transition: .9s;
    transform: translateY(-10px);
}
.info-card a{
    text-decoration: none;
    font-size: 1.5rem;
}

/*topbar css*/
.top-bar {
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
}
select{
    font-size: 12px;
}
/*middle hedaer*/
.background {
    padding: 8px;
    background-color: #fff;
}
.logo {
    height: 80px;
    width: 100px;
}
.logo-nep {
    height: 90px;
    width: 70px;
}
.textbox-01>h6{
    font-size: 1rem;
}
.textbox-01>p{
    font-size: .8rem;
}
.card-employee{
    border:  1px solid rgba(255, 0, 0, 0.4);
    padding: 10px;
}
.card-employee:hover{
    border: 1px solid rgba(255, 0, 0, 0.4);
    background-color: transparent;
    transition: .5s;
}
/*footer*/

.list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.text-white a {
    color: #fff;
    font-size: 13px;
}





.avatar img {
    border-radius: 50%;
}



img,
svg {
    vertical-align: middle;
}

.textbox-04 {
    text-align: center;
    color: #fff;
}

.textbox-04 a,
.textbox-04 span {
    font-size: .7rem;
    color: #ffff;
}

.footer-img img {
    object-fit: contain;
    height: 8rem;
}

.footer-copyright {
    color: var(--whiteColor);
    background-color: #0062CC;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}



.list li a {
    text-decoration: none;
}
.list li a:hover {
    text-decoration: none;
    color: var(--whiteColor);
}
/*-------------------modal right-----------*/
@media(min-width: 576px) {
    .modal-dialog {
        margin:0!important;
        padding-right: 5px;
        max-width: 700px !important;
    }
}
.modal-dialog {
    position: fixed;
    top: 8%;
    right: 3px;
    left: 48%;
    transition: 0.5s;
    border-radius: 1%;
    height: 92%;
}
.top-menu {
    background: linear-gradient(90deg, rgb(243 243 243) 0%, rgb(247 243 243) 35%, rgb(227 228 247) 100%);
}

.welcome { /* welcome text*/
    padding-bottom: 80px;
    color: var(--whiteColor);
    background: linear-gradient(90deg, rgba(56, 102, 161, 1) 0%, rgba(56, 102, 161, 1) 35%, rgb(80 168 232) 100%) !important;
}

.welcome-img img { /*support image*/
    object-fit: cover;
    height: 5rem;
    border-radius: 50%;
    border: double 5px var(--whiteColor);
}
.icon img { /*main tabs icon */
    object-fit: contain;
    height: 1.5rem;
}
.welcome-msg h6 {
    font-size: 1.155rem;
}

.welcome-msg p {
    text-align: justify;
    padding-right: 20px;
    font-size: .85rem;
}
.modal-header h5{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--mainColor);
}
.service-main {
    margin-top: -60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 9999999999;
    height: 26.55rem;
    background-color: var(--whiteColor);
}
.title-main h6{
    font-size: 1.1rem;
    color: var(--mainColor);
}
.main-branch{
    background-color: var(--whiteColor);
    height: 20rem;
    border-radius: 20px;
    overflow-y: auto;
}

.main-branch ul li{
    list-style: none;
}
.main-branch ul li:hover{
    transition: .5s;
    transform: translateY(-3px);
    background-color: var(--mainColor);
    color: var(--whiteColor);
}
.chat-message{
    display: none;
    position: fixed;
    z-index: 9999999999999;
    top: 8%;
    right: 3px;
    left: 48%;
    transition: 0.5s;
    border-radius: 1%;
    background-color: var(--whiteColor);
    width: 700px;
    height: 92%;
}
.service{
    height: 28rem;
    overflow-y: auto;
}
.service ul{
    margin-left: -15px;
    margin-right: 3px;
}
.service ul li{
    text-align: justify;
    font-size: .9rem;
}
.service ul li:hover{
    background-color: var(--mainColor);
    color: var(--whiteColor);
    transition: .5s;
    transform: translatey(-2px);
}
.chat{
    height: 29rem;
    overflow-y: auto;
}
.chat ul {
    list-style: none;
}
.chat ul li img {
    object-fit: contain;
    height: 2.5rem;
    border-radius: 50%;
    border: double 3px var(--mainColor)
}
.chat .sender li p {
    padding: 7px;
    color: var(--navLinkColor);
    margin-left: 10px;
    border-radius: 20px;
    font-size: .75rem;
    border: 1px solid var(--navLinkColor);
}
.chat .sender li {
    width: 80%;
    float: left;
}
.chat .receiver li p {
    padding: 7px;
    color: var(--navLinkColor);
    margin-right: 10px;
    border-radius: 20px;
    font-size: .75rem;
    border: 1px solid var(--navLinkColor);
    background-color: #DBDAE8;
}

.chat .receiver li {
    padding: 20px;
    width: 80%;
    float: right;
}
.chat .chat-card li {
    width: 90%;
}
.chat .chat-card .card{
    background-color: #CCD3DA;
}
.chat .chat-card .card .card-body .card-title{
    font-size: 1rem;
}
.chat .chat-card .card .card-body .card-subtitle{
    font-size: .7rem;
}
.chat .chat-card .card .card-body a,p{
    font-size: .7rem;
}
.message-write .send{
    margin-top: 5px;
    padding: 2px;
    color: var(--mainColor);
}


/*navbar*/
.navbar {
    background-color: var(--mainColor);
    height: 45px;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    cursor: pointer;
    color: white;
}
.navbar .navbar-nav .nav-item a{
    color: var(--whiteColor);
    padding-bottom: 0;
    font-size: 1.255rem;
}
.navbar-nav .nav-item {
    border-right: 1px solid var(--whiteColor);
    padding-right: 10px;
    padding-left: 5px;
}
.navbar-nav .nav-item:last-child {
    border-right: none;
}
.navbar .navbar-nav .nav-item .active{
    color: var(--whiteColor);
    border-bottom: 3px solid var(--whiteColor);
}
.btn{
    padding: 0;
    margin: 0;
}
.btn-download{
    background-color: #FA9F10;
    color: white;
}
mat-icon{
    height: 1.2rem;
}
.btn-download:hover{
    background-color: #FA9F10;
    color: white;
}
.btn-view{
    background-color: #28A745;
    color: white;
}
.btn-view:hover{
    background-color: #28A745;
    color: white;
}

/*register*/
.e-map {
    background-color: #fff;
    padding: 1rem 0;
}

.address {
    margin-top: 20px;
}

.title {
    color: blue;
    font-size: 20px;
    font-weight: 800px;
}
/*--------------breadcrumb------------*/
/*breadcrumb*/
.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.breadcrumb .breadcrumb-item{
    padding: 5px 5px 5px 20px;
}
.breadcrumb .breadcrumb-item {
    position: relative;
    background: var(--mainColor);
}
.breadcrumb .breadcrumb-item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid white;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}
.breadcrumb .breadcrumb-item:before {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 16px solid var(--mainColor);
    border-top: 20px solid transparent;
    border-bottom: 15px solid transparent;
}
/*---------------single grievance ------*/

/*---single-grievance-details--*/
.single-grievance-details img {
    object-fit: contain;
    height: 6rem;
    margin-right: .85rem;
    border: double 5px var(--mainColor);

}
.grievance-doc-img img{
    object-fit: contain;
    height: 8rem;
    border: solid 2px #0e314c;

}
.grievance-answer p .btn{
    border: 1px solid  #0b0b0b;
    text-align: left !important;
}
.card .icon{
    object-fit: contain;
    height: 4rem;
    width: 100%;
}
.card a:hover{
    background-color: var(--redColor);
    color: var(--whiteColor);
    transition: .9s;
    transform: translateY(-10px);
}
/*----------------------------------------------*/
