.news {
    border-bottom: 1px solid #b90e0e;
    padding: 20px 0;
}

.title-section a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.title-section span {
    color: #8a8080;
    font-size: 14px;
}

.read-section a {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: blue;
}