@media screen and (max-width: 1000px) {
    .margintop {
        margin-top:3px;
    }
}
 @media screen and (min-width: 1000px) {

        .rig {
            padding-right: 2px
        }
        .lef {
            padding-left: 2px
        }
}
    .row {
        margin-bottom: 3px;
    }

    .overlay {
        background: #fff;
        padding-bottom: 0px;
    }

    .btn {
        width: 100%;
         padding: 6px 3px;
    }